{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<table border=1>
    <tr>
        <td>ID</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Age</td>
        <td>Text</td>
    </tr>
    {% for comment in comments %}
    <tr>
        <td>{{ comment.id }}</td>
        <td>{{ comment.firstname }}</td>
        <td>{{ comment.lastname }}</td>
        <td>{{ comment.age }}</td>
        <td>{{ comment.text }}</td>
        <td>
            <form action="{% url 'edit-comment' pk=comment.id %}">
                <input type="submit" value="Edit">
            </form>
            <form action="{% url 'delete-comment' pk=comment.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
<br>
<a href="{% url 'create-comment' %}">Create Comment</a>
{% endblock %}

